<div class="container">
    <div class="row">
        <div class="heading">
            <h1>Einstellungen</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" (click) = "navigate('account')">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Account</h5>
                    <p class="card-text">Name ändern, Benutzer anlegen, </p>
                </div>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Sicherheit</h5>
                    <p class="card-text">Passwort ändern, Benutzer anlegen</p>
                </div>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Kundenportal</h5>
                    <p class="card-text">Design anpassen, Slogan bearbeiten, Seite personalisieren</p>
                </div>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Abonnement</h5>
                    <p class="card-text">Rechnungen einsehen, Leistungen buchen, </p>
                </div>
            </div>
        </div>
    </div>
</div>

