﻿<!-- nav -->

<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/"><i class="fas fa-home"></i> Start</a>
        <a class="nav-item nav-link" routerLink="/calendars"><i class="fas fa-calendar-alt"></i> Kalenderverwaltung</a>
        <a class="nav-item nav-link" routerLink="/settings"><i class="fas fa-cog"></i> Einstellungen</a>
        <a class="nav-item nav-link" id="logout-button" (click)="logout()">Logout <i class="fas fa-sign-out-alt"></i></a>
    </div>
</nav>
<div class="col-md-12 maincontent">
    <alert></alert>
    <router-outlet></router-outlet>
</div>
