﻿<h1>Kalender</h1>
<p>Folgende Termine für {{dateToday | date:'MMM d, y'}}</p>

<button (click)="edit = true" class="btn btn-primary" *ngIf="!edit">Bearbeiten</button>
<button (click)="edit = false" class="btn btn" *ngIf="edit">Fertig</button>

<div class="loader" *ngIf="loading"></div>

<ul>
    <li *ngFor="let calendar of calendarItems['calendars']">
        
        <h4>
            <button (click)="deleteCalendar(calendar);" class="btn btn-danger" *ngIf="edit">-</button>
            {{calendar.calendarName}} ({{calendar.items.length}} Termine heute)
        </h4>
        {{calendar.calendarDescription}}
        <ul *ngFor="let item of calendar.items">
            <li>
                <div>{{item.details.name}} {{item.details.familyname}} ({{item.details.mail}})</div>
                <div>{{item.from | date:'HH:mm'}} - {{item.to | date:'HH:mm'}} Uhr</div>
            </li>
        </ul>
    </li>
</ul>
<div>
    <a routerLink="/addCalendar" class="btn btn-primary" *ngIf="edit">Neuen Kalender</a>
</div>

