/* You can add global styles to this file, and also import other style files */
/* angular-cli file: src/styles.css */
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.html{
    background-color: #f3f3f3;
    font-family: 'Roboto', sans-serif;
}

.danger{
    color: red;
}

.navbar{
    height: 56px;
}

.nav-item{
    margin-right: 10px;
}

.maincontent{
    height: calc(100vh - 56px);
    overflow-y: auto;
    padding: 20px;
    background-color: #f3f3f3;
}

.loader,
        .loader:after {
        border-radius: 50%;
        width: 10em;
        height: 10em;
        }
        .loader {
        margin: 60px auto;
        font-size: 10px;
        position: relative;
        text-indent: -9999em;
        border-top: 0.5em solid #007bff;
        border-right: 0.5em solid #007bff;
        border-bottom: 0.5em solid #007bff;
        border-left: 0.5em solid rgba(255,255,255,0);
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-animation: load8 1.1s infinite linear;
        animation: load8 1.1s infinite linear;
        }
        @-webkit-keyframes load8 {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
        }
        @keyframes load8 {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
        }