﻿<div class="calendarview col-md-12">
    <div *ngIf="loading">Laden...</div>

    <mwl-demo-utils-calendar-header [(view)]="view" [(viewDate)]="viewDate">
    </mwl-demo-utils-calendar-header>

    <button (click)="createEvent()" class="btn btn"><i class="fas fa-plus"></i></button>
    <button (click)="fetchEvents()" class="btn btn"><i class="fas fa-redo"></i></button>

    <div class="calendarcontainer">
        <div [ngSwitch]="view">
            <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" [activeDayIsOpen]="true"
                [refresh]="refresh" (eventTimesChanged)="eventTimesChanged($event)" (eventClicked)="eventClicked($event)">
            </mwl-calendar-month-view>

            <ng-template #weekViewHourSegmentTemplate let-segment="segment" let-locale="locale" let-segmentHeight="segmentHeight"
                let-isTimeLabel="isTimeLabel">
                <div #segmentElement class="cal-hour-segment" [style.height.px]="segmentHeight"
                    [class.cal-hour-start]="segment.isStart" [class.cal-after-hour-start]="!segment.isStart"
                    [ngClass]="segment.cssClass" (mousedown)="startDragToCreate(segment, $event, segmentElement)">
                    <div class="cal-time" *ngIf="isTimeLabel">
                        {{ segment.date | calendarDate:'weekViewHour':locale }}
                    </div>
                </div>
            </ng-template>

            <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
                (eventTimesChanged)="eventTimesChanged($event)" (eventClicked)="eventClicked($event)"   [dayStartHour]="9"
                [dayEndHour]="17" [hourSegmentTemplate]="weekViewHourSegmentTemplate">
            </mwl-calendar-week-view>
            <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
                (eventTimesChanged)="eventTimesChanged($event)" (eventClicked)="eventClicked($event)" [dayStartHour]="9"
                [dayEndHour]="17">
            </mwl-calendar-day-view>
        </div>
    </div>
</div>
<div class="calendardetails" *ngIf="detailview['show']">
    <div class="card" style="width: 18rem;">
        <div class="card-content">
            <!-- Image On Top -->
            <img class="card-img-top" src="http://www.abstract-living.com/wp-content/uploads/2015/05/meeting-strangers.jpg"
                alt="Card image cap">
            
            <!-- Title -->
            <div class="card-body" *ngIf="!detailview.edit">
                <h5 class="card-title">
                    <span *ngIf="detailview.cancelled" class="danger">Abgesagt: </span>
                    {{detailview.name}}
                </h5>
                <p class="card-text"><i class="fas fa-clock"></i> {{detailview.from}} - {{detailview.to}}</p>
            
                <div *ngIf="!detailview.edit">
                    <i class="fas fa-calendar-alt"></i> {{detailview.calName}}
                </div>
            </div>
            
            
            <div class="card-body" *ngIf="detailview.edit">
                <div *ngIf="detailview.newEvent">
                    <mat-checkbox [(ngModel)]="detailview.blocker">Blocker</mat-checkbox>
                </div>
                <mat-form-field class="example-full-width" *ngIf="!detailview.blocker">
                    <input matInput placeholder="Name" value="{{detailview.name}}">
                </mat-form-field>
            
                <p class="card-text"><i class="fas fa-calendar-alt"></i> {{detailview.from}} - {{detailview.to}}</p>
            
                <div *ngIf="detailview.edit">
                    <mat-form-field>
                        <mat-label>Kalender</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let cal of calendars" [value]="cal.calendarId">
                                {{cal.calendarName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            
            
            <!-- Notes -->
            <ul class="list-group list-group-flush" *ngIf="!detailview.edit">
                <li class="list-group-item">Ein paar Notizen</li>
                <li class="list-group-item">Mehr Notizen</li>
                <li class="list-group-item">Noch mehr Notizen</li>
            </ul>
            
            <!-- Notes -->
            <ul class="list-group list-group-flush" *ngIf="detailview.edit && !detailview.blocker">
                <li class="list-group-item">
                    <mat-form-field class="example-full-width" *ngIf="!detailview.blocker">
                        <input matInput placeholder="Notizen" value="">
                    </mat-form-field>
                </li>
                <li class="list-group-item">Mehr Notizen</li>
                <li class="list-group-item">Noch mehr Notizen</li>
            </ul>
        </div>
        
        <!-- Card controls -->
        <div class="card-body">
            <a href="#" (click)="detailview.edit = true" class="card-link" *ngIf="!detailview.edit">Bearbeiten</a>
            <a href="#" (click)="saveEditedEvent();" class="card-link" *ngIf="detailview.edit">Speichern</a>
            <a href="#" (click)="deleteEvent()" class="card-link danger">Termin absagen</a>
            <a href="" (click)="detailview.show = false; detailview.edit = false" class="card-link" style="float:right;">Schließen</a>
        </div>
    </div>
    <div>
        <button (click)="debug()" class="btn">Debug</button>
    </div>
</div>

<div class="overlay" *ngIf="detailview['show']" (click)="detailview.show = false; detailview.edit = false" ></div>



