.calendarview{
    float:left;
}

// Container of the actual calendar without header
.calendarcontainer{
    height: calc(100vh - 56px - 40px - 60px) !important;
    overflow-y: auto !important;
}

.calendardetails{
    position:fixed;
    top:50%;
    left:50%;
    width:400px;  /* adjust as per your needs */
    height:400px;   /* adjust as per your needs */
    margin-left:-200px;   /* negative half of width above */
    margin-top:-200px;   /* negative half of height above */
    z-index: 1000;

}

.card{
    width: 25rem !important;
}

.card-content{
    max-height: 55vh;
    overflow-y: auto;
}

.overlay{
    position:fixed;
    width: 200vw;
    height: 200vh;
    margin-left: -500px;
    margin-top: -500px;
    background-color: #000000;
    opacity: 0.6;
    z-index: 300;
}